<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="sponsors">
        <div class= 'sponsorc'>
        <h1 align = center>ORGANIZED BY</h1>
        <img src="RoboVITics Logo.png" class = "log"alt="">
        </div>
        <div class = 'sponsorc'>
        <h1>POWERED BY</h1>
        <img class = "autod" src="logo-autodesk bw.png" alt="">
        </div>
    </div>
</body>
</html>