body{
    background-color: black;
    color: white;
}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    margin: 0 auto;
}
.sponsorc{
    margin:5%;
    /* height: 150%; */
    float: initial;
}
img{
    width: 100%;
    height:auto;
}
h1{
    font-size: 400%;

}
@media only screen and (max-width: 1000px) {
    .sponsors{
        flex-direction: column;
    }  
    h1{
        font-size: 200%;
    
    }
}