
.container{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.box1{
  display:flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.box2{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
body{
  background-color: #1b1b1b;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card2{
  background-color: rgb(255, 0, 0);
  margin:3%;
  width: 27%;
  align-items: center;
  justify-content: center;
  border-radius:40px;
  height:400px;


}
@media only screen and (max-width: 1000px) {
  .box1{
    flex-direction: column;
  }
  .box2{
    flex-direction: column;
  }
  .card2{
    width:100%;
  }
}