<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="box1">
      <div class='card'>
        <br>
        <img src="dd.png" alt="" class="center">
        <h1 align=center>Ayush gupta</h1>
         <p align=center>  Business operations associate. Zs Associates

         </p>
      </div>
      <div class='card'>
        <br>
        <img src="dd.png" alt="" class="center">
        <h1 align=center>Ivan das</h1>
        <p align=center>Data Analyst in Sell Side Core at myntra CEO-Celebrify</p>

      </div>
      <div class='card'>
        <br>
        <img src="dd.png" alt="" class="center">
        <h1 align=center>Arnav kalia</h1>
        <p align=center>Head of designs-Team orcus</p>

      </div>
    </div>

    <div class="box2">

      <div class='card2'>
        <br>
        <img src="dd.png" class="center" alt="">
        <h1 align=center>Anand Pujari</h1>
        <p align=center>Education Account Manager-Autodesk india
        </p>

      </div>

    <div class='card2'>
      <br>
      <img src="dd.png" alt="" class="center">
      <h1 align=center>Ramesh Pudale</h1>
      <p align=center>MFG account Manager- Autodesk</p>

    </div>
  </div>
  </div>
</body>
</html>