<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboVITics - The official robotics club of VIT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style1.css">
   </head>
<body>
    <div class="footer-social-icons qwerty">
    <pre>
  
    </pre>
      <h1 style="text-align: center; color: white;">Social Media</h1>
      <ul class="social-icons" style="text-align: center;">
          <li><a href="https://www.facebook.com/robovitics/" target="_blank" class="social-icon"> <i class="fa fa-facebook fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://instagram.com/robovitics?igshid=1nuojwifavrty" target="_blank" class="social-icon"> <i class="fa fa-instagram fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://www.linkedin.com/company/robovitics/about/" target="_blank" class="social-icon"> <i class="fa fa-linkedin fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://github.com/RoboVITics" target="_blank" class="social-icon"> <i class="fa fa-github fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://www.twitter.com/robo_vit" target="_blank" class="social-icon"> <i class="fa fa-twitter fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCFiwOI-W5b06NweratR-RdA" target="_blank" class="social-icon"> <i class="fa fa-youtube fa-2x text-primary mx-3"></i></a></li>
      </ul>
      <h1 style="text-align: center; color: white;">Contact Us</h1>
      <p style="font-weight: 600;font-size: medium;">Email : roboviticsvitvellore@vit.ac.in</p>
      <p style=" text-align:right; margin-right: 20px;" ><img src="with_love.png" alt=""></p>
  </div>
</body>
</html>