<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .FAQs{
            position: relative;
            margin: 0 10vw 0 10vw;
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
.accordion {
  background-color: #721b65;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #f8615a; 
  color: white;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #ffd868;
  overflow: hidden;
}
</style>
</head>
<body>
    <div class="FAQs">
        <h1>FAQs</h1>

<button class="accordion">Q1. What is VORTEX 360 all about?</button>
<div class="panel">
  <p>RoboVITics VORTEX 360 is a 25-day long immersing CAD design hack based on the Fusion 360 platform brought to you by Autodesk professionals.</p>
</div>

<button class="accordion">Q2. I'm a beginner. Any prior knowledge needed before joining the hack?</button>
<div class="panel">
  <p>Beginners learn the most!<br>
    Hacks are a great platform for beginners to learn, gain exposure and network with professionals. Also, Autodesk has many videos on their website which can help you with any tools required to complete your CAD designs.
    </p>
</div>

<button class="accordion">Q3. Is it a free event? </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Q4. What is the venue?</button>
<div class="panel">
  <p>RoboVITics VORTEX 360 is an online hackathon. So, the venue is the bean bags in your living room.</p>
</div>

<button class="accordion">Q5. What is the prize money?</button>
<div class="panel">
  <p>The total prize money is a whopping Rs. 40,000!</p>
</div>

<button class="accordion">Q6. Can I join the hack if I have no team?</button>
<div class="panel">
  <p>Absolutely! If you don’t have a team you can manage it alone. Having a team is not a requirement.</p>
</div>

<button class="accordion">Q7. Who can participate?</button>
<div class="panel">
  <p>Anyone between the ages 13-27 can participate. No other requirements.</p>
</div>

<button class="accordion">Q8. What is Fusion 360?</button>
<div class="panel">
  <p>Autodesk Fusion 360 is an elegant and professional 3D modelling software for modelling both onscreen assets (3D renders and animation) and off screen physically manufactured elements. Projects can be shared with a group of designers using its cloud-based design and management system. It provides parametric tools that allow editing components as specs change, without having to start over from scratch.</p>
</div>

<button class="accordion">Q9. How many teams from a single college are eligible to participate in this event?</button>
<div class="panel">
  <p>The more the merrier! Any number of teams can participate for this event. All teams are invited to join and compete in the hack.</p>
</div>

<button class="accordion">Q10. How many members are allowed in a team?</button>
<div class="panel">
  <p>Any team consisting or 1-4 members will be allowed.</p>
</div>

<button class="accordion">Q11. Can a team have members from different colleges?</button>
<div class="panel">
  <p>Yes, absolutely! There are no restrictions of any type in team formation.</p>
</div>

<button class="accordion">Q12. What if I am not good at designing?</button>
<div class="panel">
  <p>No issues!! This will be a very good opportunity for you to learn. Learning will include not only learning the software but you will also have a project made on the software based on real world issues. </p>
</div>

<button class="accordion">Q13.When and how many reviews will be conducted?</button>
<div class="panel">
  <p>Three reviews will be conducted during the hackathon at times specified in the timeline.</p>
</div>

<button class="accordion">Q14. Whom do we contact in case of any doubts?</button>
<div class="panel">
  <p>There is a Telegram group to contact the concerned person.</p>
</div>

<button class="accordion">Q15. Can I import components from open-source platforms?</button>
<div class="panel">
  <p>No, importing of components is strictly prohibited in the hackathon from any open source platform.</p>
</div>

<button class="accordion">Q16. Which CAD software am I allowed to use?</button>
<div class="panel">
  <p>Only the designs made on the Autodesk Fusion 360 platform will be accepted.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

    </div>


</body>
</html>
