<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="nav" style="text-align: right;">
        <div class="container">
            <div class="logo">
                            <pre>
                            </pre>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks" style="font-weight: 500;">
                    <li><a href="#about">About</a></li>
                    <li><a href="#domains">Domains</a></li>
                    <li><a href="#">Timeline</a></li>
                    <li><a href="#Judges">Judges</a></li>
                    <li><a href="#">Rules & FAQs</a></li>
                    <li><a href="#reach">Reach Us</a></li>

                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>


    <div class="front-contx">
        <img src="Vortex_360_logo_white.png" class = "logomain" alt="">
            <div id="timer"></div>
    </div>
    <div class="card-content">
        <p  id="about" style="color: whitesmoke; font-size: 45px; text-align: center; margin: 10px;"> VORTEX 360</p>
        <p style="color: whitesmoke; font-size: 25px; text-align: center; margin: 10px;"> Vortex 360 is a 30 days online CAD modelling hack organised by RoboVITics, the Robotics club of VIT, and powered by AutoDesk.This hack aims to provide a platform where you can unwrap your skills and discover the extents of your abilities.RoboVITics team cordially invites you to be a part of this endeavour to showcase and enrich your skills, grab the opportunity and unleash the vortex within.</p>

    </div>
    <div class="card-content">
        <p  id="domains" style="color: whitesmoke; font-size: 45px; text-align: center; margin: 10px;"> Domains</p>
        
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>HEALTHCARE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1> Healthcare</h1>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>DEFENCE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1>DEFENCE</h1>
        <p class="text">Defence not only includes complex electromechanical systems required for safe guarding territories, but also the production of disaster mitigation and management machines. Participants must come up with feasible as well as flawless ideas for this budding industry.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>SPACE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1>SPACE</h1>
        <p class="text">Ever had your own ideas for creating elements and mechanisms to help improve deep space exploration on seeing a sci-fi. Here's your chance to materialize your ideas and take them beyond fiction.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>AGRICULTURE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1>AGRICULTURE</h1>
        <p class="text">Agriculture is the science of sustenance, there also goes a lot of engineering and ideation into making it more efficient. Under this topic, participants are expected to come up with new and innovative ideas to aid the industry in making the process of production as well as transport more efficient.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>COMMUNITY HELP</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1>COMMUNITY HELP</h1>
        <p class="text">There are no limits to make one's life easier. How about doing this for your community. Come up with an innovation to make this community better and efficient.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>OPEN INNOVATION</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h1>OPEN INNOVATION</h1>
        <p class="text">Participants are welcome to come up with new and practical ideas for any real-world problem of their choosing.
      </div>
    </div>
  </div>
    </div>
<div class="card-content">
    <p  id="about" style="color: whitesmoke; font-size: 45px; text-align: center; margin: 10px;"> TIMELINE</p>

</div>


<div class="card-content">
    <p  id="about" style="color: whitesmoke; font-size: 45px; text-align: center; margin: 10px;"> JUDGES</p>
    
    <div class="gallery-box-container" style="margin: 65px;">
        <a href="" class="gallery-box">
            <span class="gallery-box__img-container">
                <img src="" alt="" class="gallery-box__img">
            </span>
            <span class="gallery-box__text-wrapper">
                <span class="gallery-box__text" >Mr. Ramesh Pudale <br>MFG Account Manager <br>Autodesk India
                </span>
            </span>
        </a>
        <a href="" class="gallery-box">
            <span class="gallery-box__img-container">
                <img src="" alt="" class="gallery-box__img">
            </span>
            <span class="gallery-box__text-wrapper">
                <span class="gallery-box__text">Mr. Anand Pujari <br>Education Account Manager <br>Autodesk India
                </span>
            </span>
        </a>
    
        <a href="" class="gallery-box">
            <span class="gallery-box__img-container">
                <img src="
                " alt="" class="gallery-box__img">
            </span>
            <span class="gallery-box__text-wrapper">
                <span class="gallery-box__text" style="font-weight: 500;">Mr. Ayush Gupta <br>Business Operations Associate <br>Zs Associates
                </span>
            </span>
        </a>
    
        <a href="" class="gallery-box">
            <span class="gallery-box__img-container">
                <img src="" alt="" class="gallery-box__img">
            </span>
            <span class="gallery-box__text-wrapper">
                <span class="gallery-box__text">Mr. Ivan Das <br>Data Analyst- Sell Side Core, Myntra <br>CEO Celebrify
                </span>
            </span>	
        </a>
    </div>

</div>
<div class="footer-social-icons qwerty">
    <pre>
  
    </pre>
      <h1 style="text-align: center; color: white;">Social Media</h1>
      <ul class="social-icons" style="text-align: center;">
          <li><a href="https://www.facebook.com/robovitics/" target="_blank" class="social-icon"> <i class="fa fa-facebook fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://instagram.com/robovitics?igshid=1nuojwifavrty" target="_blank" class="social-icon"> <i class="fa fa-instagram fa-2x text-primary mx-3"></i></a></li>
          <li><a href="https://www.linkedin.com/company/robovitics/about/" target="_blank" class="social-icon"> <i class="fa fa-linkedin fa-2x text-primary mx-3"></i></a></li>
        </ul>
      <h1 style="text-align: center; color: white;">Contact Us</h1>
      <p style="font-weight: 600;font-size: medium;">Email : robovitics@vit.ac.in</p>
      <p style=" text-align:right; margin-right: 20px;" ><img src="CSS/Images/with_love.png" alt=""></p>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
        $('.navTrigger').click(function () {
  $(this).toggleClass('active');
  console.log("Clicked menu");
  $("#mainListDiv").toggleClass("show_list");
  $("#mainListDiv").fadeIn();

});

    </script>
        <script>
            function updateTimer() {
              future  = Date.parse("May 01, 2020 11:30:00");
              now     = new Date();
              diff    = future - now;
            
              days  = Math.floor( diff / (1000*60*60*24) );
              hours = Math.floor( diff / (1000*60*60) );
              mins  = Math.floor( diff / (1000*60) );
              secs  = Math.floor( diff / 1000 );
            
              d = days;
              h = hours - days  * 24;
              m = mins  - hours * 60;
              s = secs  - mins  * 60;
            
              document.getElementById("timer")
                .innerHTML =
                  '<div>' + d + '<span>days</span></div>' +
                  '<div>' + h + '<span>hours</span></div>' +
                  '<div>' + m + '<span>minutes</span></div>' +
                  '<div>' + s + '<span>seconds</span></div>' ;
                 
            }
            setInterval('updateTimer()', 1000 );
            
                </script>
</body>
</html>