<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="timeline.css">
</head>
<body>
    <body>
        <h1>Responsive vertical timeline</h1>
        <div class="timeline">
          <ul>
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Hack Starts</p>
              </div>
              <div class="time">
                <h4>1st May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>08:00 AM</h3>
                <p> Zeroth Review <br>
                </p>
                <h4 style="color:rgba(3, 168, 245,1);">Submission By: 04:00 PM</h4>
              </div>
              <div class="time">
                <h4>5th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>08:00 AM</h3>
                <p> First Review </p>
                <h4 style="color:rgba(3, 168, 245,1);">Submission By: 04:00 PM</h4>
              </div>
              <div class="time">
                <h4>13th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Results of First Review</p>
              </div>
              <div class="time">
                <h4>14th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Hack Resumes</p>
              </div>
              <div class="time">
                <h4>14th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>08:00 AM</h3>
                <p>Second Review </p>
                <h4 style="color:rgba(3, 168, 245,1);">Submission By: 04:00 PM</h4>
              </div>
              <div class="time">
                <h4>20th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Results of Second Review</p>
              </div>
              <div class="time">
                <h4>21st May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Hack Resumes</p>
              </div>
              <div class="time">
                <h4>21st May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Hack Ends</p>
              </div>
              <div class="time">
                <h4>25th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>10:00 AM</h3>
                <p>Final Review</p>
                <h4 style="color:rgba(3, 168, 245,1);">Submission By: 04:00 PM</h4>
              </div>
              <div class="time">
                <h4>25th May</h4>
              </div>
            </li>
            
            <li>
              <div class="content">
                <h3>12:00 PM</h3>
                <p>Results Declared</p>
              </div>
              <div class="time">
                <h4>30th May</h4>
              </div>
            </li>
            <div style="clear:both;"></div>
          </ul>
        </div>
      </body>
</body>
</html>