<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
  <h1 align=center>DOMAINS</h1>
<div class="">

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
          <img src="dd.png" alt="">
        <p>HEALTHCARE</p>
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>

</div>
<br>
<pre>
















</pre>
</body>
</html>