<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
  <h1 align=center>DOMAINS</h1>
<div class="">

  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>HEALTHCARE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>HEALTHCARE</h3>
        <p class="text">Lets improve the healthcare systems by making it more healthy, caring and systematic. Design medical gadgets and instruments to improve certain procedures and diagnostic tests.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>DEFENCE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>DEFENCE</h3>
        <p class="text">Defence not only includes complex electromechanical systems required for safe guarding territories, but also the production of disaster mitigation and management machines. Participants must come up with feasible as well as flawless ideas for this budding industry.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>SPACE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>SPACE</h3>
        <p class="text">Ever had your own ideas for creating elements and mechanisms to help improve deep space exploration on seeing a sci-fi. Here's your chance to materialize your ideas and take them beyond fiction.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>AGRICULTURE</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>AGRICULTURE</h3>
        <p class="text">Agriculture is the science of sustenance, there also goes a lot of engineering and ideation into making it more efficient. Under this topic, participants are expected to come up with new and innovative ideas to aid the industry in making the process of production as well as transport more efficient.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>COMMUNITY HELP</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>COMMUNITY HELP</h3>
        <p class="text">There are no limits to make one's life easier. How about doing this for your community. Come up with an innovation to make this community better and efficient.
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <p>OPEN INNOVATION</p>
          <img src="dd.png" alt="">
      </div>
      <div class="back">
        <h3>OPEN INNOVATION</h3>
        <p class="text">Participants are welcome to come up with new and practical ideas for any real-world problem of their choosing.
      </div>
    </div>
  </div>
  <embed align = center src="aaa.pdf" type="application/pdf"   height="700px" width="500">

</div>

<br>
<pre>
















</pre>
</body>
</html>